@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
   font-family: "Sansita", sans-serif;
  
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-900 text-white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav ul li a{
  font-size: 18px;
}


h3{
  position: relative;
  font-size: 35px;
 display: inline-block;
  color: #C45B7D;


}

h3::before{
  content: "";
  position: absolute;
  height: 4px;
  display: inline-block;
  width: 70%;
  background: #e09db2;
  bottom: -3px;
  left: 0;

}

button{
  border-radius: 15px;
  padding: 10px;
  background: #C45B7D;
  color: white;
  font-size: 18px;
}